<div id="errorModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header modal-header-error justify-content-center">
                <div class="icon-box">
                    <i class="fa fa-close"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Ooops!</h4>
                <p id="errorMessage"></p>
                <button class="btn btn-success" data-dismiss="modal">Try Again</button>
            </div>
        </div>
    </div>
</div>