<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header modal-header-success justify-content-center">
                <div class="icon-box">
                    <i class="fa fa-check"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>All done!</h4>
                <p id="errorMessage"></p>
                <button class="btn btn-success" data-dismiss="modal">Perfect!</button>
            </div>
        </div>
    </div>
</div>