<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D&D Bot Suite - Character Creator</title>

    <link href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .modal-confirm {
            color: #434e65;
            width: 525px;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }
        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }
        .modal-header-error {
            background: #e85e6c;
        }
        .modal-header-success {
            background: #67e85e;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 36px;
            margin: 10px 0;
        }
        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }
        .modal-confirm .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            text-shadow: none;
            opacity: 0.5;
        }
        .modal-confirm .close:hover {
            opacity: 0.8;
        }
        .modal-confirm .icon-box {
            color: #fff;
            width: 95px;
            height: 95px;
            display: inline-block;
            border-radius: 50%;
            z-index: 9;
            border: 5px solid #fff;
            padding: 15px;
            text-align: center;
        }
        .modal-confirm .icon-box i {
            font-size: 58px;
            margin: -2px 0 0 -2px;
        }
        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }
        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #eeb711 !important;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border-radius: 30px;
            margin-top: 10px;
            padding: 6px 20px;
            min-width: 150px;
            border: none;
        }
        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #eda645 !important;
            outline: none;
        }
    </style>

</head>

<body>

    <div id="page-content">

        <form id="page_form">
            <div class="container-fluid">
                {% include '@App/header.twig' %}

                <hr/>
                <h3 class="mt-2">Character</h3>
                {% include '@App/character.twig' %}

                <hr/>
                <h3 class="mt-2">Stats</h3>
                {% include '@App/stats/stats.twig' %}

                <hr/>
                <h3 class="mt-2">Weapons & Skills</h3>
                {% include '@App/skills_and_weapons/skills_and_weapons.twig' %}

                <hr />
                <h3 class="mt-2">Gear and Items</h3>
                {% include '@App/gear_and_items.twig' %}
            </div>
        </form>
    </div>

    {% include '@App/modal/errorModal.twig' %}
    {% include '@App/modal/successModal.twig' %}

<script src="{{ asset('bundles/app/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script>

    const add_gear = $('#add-gear');
    const add_item = $('#add-item');
    const add_weapon = $('#add-weapon');
    const page_form = $('#page_form');
    const submit = $('#submit');
    const initiative_misc = $('#initiative_misc');
    const str_score = $('#str-score');
    const dex_score = $('#dex-score');
    const con_score = $('#con-score');
    const int_score = $('#int-score');
    const wis_score = $('#wis-score');
    const cha_score = $('#cha-score');
    const ac_vals = $('.ac-vals');
    const fortitude_vals = $('.fortitude-vals');
    const reflex_vals = $('.reflex-vals');
    const will_vals = $('.will-vals');
    const fortitude_ability_modifier = $('#fortitude_ability_modifier');
    const reflex_ability_modifier = $('#reflex_ability_modifier');
    const will_ability_modifier = $('#will_ability_modifier');

    let gear = 0;
    let items = 0;
    let weapons = 0;

    const calcInitiative = () => {
        $('#initiative').text(Number($('#initiative_dex').text()) + Number(initiative_misc.val()));
    }

    const calcFortitude = () => {
        let total = Number(fortitude_ability_modifier.text());
        $.each(fortitude_vals, (_, el) => total += Number($(el).val()));
        $('#fortitude').text(total);
    };

    const calcReflex = () => {
        let total = Number(reflex_ability_modifier.text());
        $.each(reflex_vals, (_, el) => total += Number($(el).val()));
        $('#reflex').text(total);
    };

    const calcWill = () => {
        let total = Number(will_ability_modifier.text());
        $.each(will_vals, (_, el) => total += Number($(el).val()));
        $('#will').text(total);
    };

    const calcAC = () => {
        let total = 10 + Number(reflex_ability_modifier.text());
        $.each(ac_vals, (_, el) => total += Number($(el).val()));
        $('#ac').text(total);
    };

    const calcSkills = () => {
        $.each($('.skills'), (_, el) => {
            const row = $(el);
            const keyAbility = row.data('ability-field-id');
            const ranks = row.data('rank-field-id');
            const misc = row.data('misc-field-id');
            const skill = row.data('skill');

            $(`#${skill}`).text(Number($(`#${ranks}`).val()) + Number($(`#${misc}`).val()) + Number($(`#${keyAbility}`).text()));
        });
    };

    $('.scores').on('input', function() {
        const targetId = $(this).attr('id').replaceAll('-score', '-modifier');
        const modifierValue = Math.floor((Number($(this).val()) - 10) / 2);
        $(`#${targetId}`).text(modifierValue);
    });

    str_score.on('input', function() {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('.str_modifiers').text(val);
    });

    dex_score.on('input', function() {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('#ac_dex').text(val);
        $('#initiative_dex').text(val);
        $('.dex_modifiers').text(val);
        reflex_ability_modifier.text(val);
        calcInitiative();
        calcReflex();
        calcAC();
    });

    con_score.on('input', function () {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        fortitude_ability_modifier.text(val);
        $('.con_modifiers').text(val);
        calcFortitude();
    });

    int_score.on('input', function() {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('.int_modifiers').text(val);
        calcSkills();
    });

    wis_score.on('input', function () {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('.wis_modifiers').text(val);
        will_ability_modifier.text(val);
        calcWill();
    });

    cha_score.on('input', function() {
        const val = Math.floor((Number($(this).val()) - 10) / 2);
        $('.cha_modifiers').text(val);
    });

    ac_vals.on('input', calcAC);

    initiative_misc.on('input', calcInitiative);

    fortitude_vals.on('input', calcFortitude);

    reflex_vals.on('input', calcReflex);

    will_vals.on('input', calcWill);

    add_gear.on('click', () => {
        gear++;
        const append = `
            <tr>
                <th>#${gear}</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th colspan="2" class="text-center">ARMOR / PROTECTIVE ITEM</th>
                            <th class="text-center">TYPE</th>
                            <th class="text-center">AC BONUS</th>
                            <th class="text-center">MAX DEX</th>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" id="armor_${gear}" name="armor[${gear}]" class="form-control"></td>
                            <td><input type="text" id="type_${gear}" name="type[${gear}]" class="form-control"></td>
                            <td><input type="text" id="ac_bonus_${gear}" name="ac_bonus[${gear}]" class="form-control"></td>
                            <td><input type="text" id="max_dex_${gear}" name="max_dex[${gear}]" class="form-control"></td>
                        </tr>
                        <tr>
                            <th class="text-center">CHECK PENALTY</th>
                            <th class="text-center">SPELL FAILURE</th>
                            <th class="text-center">SPEED</th>
                            <th class="text-center">WEIGHT</th>
                            <th class="text-center">SPECIAL PROPERTIES</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="check_penalty_${gear}" name="check_penalty[${gear}]" class="form-control"></td>
                            <td><input type="text" id="spell_failure_${gear}" name="spell_failure[${gear}]" class="form-control"></td>
                            <td><input type="text" id="speed_${gear}" name="speed[${gear}]" class="form-control"></td>
                            <td><input type="text" id="weight_${gear}" name="weight[${gear}]" class="form-control"></td>
                            <td><input type="text" id="special_properties_${gear}" name="special_properties[${gear}]" class="form-control"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        `;
        $('#gear').append(append);
    });

    add_item.on('click', () => {
        items++;
        const append = `
            <tr>
                <th>#${items}</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th class="text-center">ITEM</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">WEIGHT</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="item_${items}" name="items[name][${items}}]" class="form-control"></td>
                            <td><input type="number" id="item_quantity_${items}" name="items[quantity][${items}]" class="form-control"></td>
                            <td><input type="number" id="item_weight_${items}" name="items[weight][${items}]" class="form-control"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        `;
        $('#items').append(append);
    });

    add_weapon.on('click', () => {
        weapons++;
        const append = `
            <tr>
                <th>Weapon #${weapons}</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th class="text-center">ATTACK</th>
                            <th class="text-center">ATTACK BONUS</th>
                            <th class="text-center">DAMAGE</th>
                            <th class="text-center">CRITICAL</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="attack_${weapons}" name="attack_${weapons}" class="form-control"></td>
                            <td><input type="text" id="attack_bonus_${weapons}" name="attack_bonus_${weapons}" class="form-control"></td>
                            <td><input type="text" id="damage_${weapons}" name="damage_${weapons}" class="form-control"></td>
                            <td><input type="text" id="critical_${weapons}" name="critical_${weapons}" class="form-control"></td>
                        </tr>
                        <tr>
                            <th class="text-center">RANGE</th>
                            <th class="text-center">TYPE</th>
                            <th colspan="2" class="text-center">NOTES</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="attack_${weapons}" name="attack_${weapons}" class="form-control"></td>
                            <td><input type="text" id="attack_bonus_${weapons}" name="attack_bonus_${weapons}" class="form-control"></td>
                            <td colspan="2"><input type="text" id="damage_${weapons}" name="damage_${weapons}" class="form-control"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        `;
        $('#weapons').append(append);
    });

    submit.on('click', () => {
        if ($('#access_code').val() === '') {
            $('#errorMessage').text('The access code is empty!');
            $('#errorModal').modal('show');
            return;
        }
        $.post(
            '{{ url('characterSubmitted_url') }}',
            page_form.serialize(),
            (data) => {
                if (data.result === 'KO') {
                    $('#errorMessage').text(data.error);
                    $('#errorModal').modal('show');
                }
                else {
                    $('#successModal').modal('show');
                }
            }
        );
    });
</script>

</body>

</html>
