<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary" id="add-gear">Add Gear</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary" id="add-item">Add Item</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <table class="table-bordered" id="gear"></table>
    </div>
    <div class="col-6">
        <table class="table-bordered" id="items"></table>
    </div>
</div>