<div class="row mt-4">
    <div class="col-3">
        <h1>Character Creator</h1>
    </div>
    <div class="col-4">
        <label for="access_code">Access code given by D&D 3.5 Character Generator Discord Bot</label>
        <input class="form-control" type="password" name="access_code" id="access_code" placeholder="Enter your access code">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-success" id="submit">SAVE</button>
    </div>
</div>