<div class="row">
    <div class="col-3">
        <h5>Money</h5>
        <table class="table-bordered">
            <tr>
                <td>Copper Piece</td>
                <td><input type="number" id="cp" name="money[copper]" class="form-control" value="0"></td>
            </tr>
            <tr>
                <td>Silver Piece</td>
                <td><input type="number" id="sp" name="money[silver]" class="form-control" value="0"></td>
            </tr>
            <tr>
                <td>Gold Piece</td>
                <td><input type="number" id="gp" name="money[gold]" class="form-control" value="0"></td>
            </tr>
            <tr>
                <td>Platinum Piece</td>
                <td><input type="number" id="pp" name="money[platinum]" class="form-control" value="0"></td>
            </tr>
        </table>
        <br>
    </div>
    <div class="col-6">
        <h5>Languages</h5>
        <button type="button" class="btn btn-primary" id="add-language">Add Language</button>
        <br><br>
        <table class="table-bordered" id="languages"></table>
    </div>
</div>