<div class="col-2">
    <table>
        <tr>
            <td class="text-center">Name</td>
            <td class="text-center">Score</td>
            <td class="text-center">Modifier</td>
        </tr>
        <tr>
            <td class="align-middle text-center">STR<br><small>Strength</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][strength]" id="str-score"></td>
            <td class="align-middle text-center" id="str-modifier">0</td>
        </tr>
        <tr>
            <td class="align-middle text-center">DEX<br><small>Dexterity</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][dexterity]" id="dex-score"></td>
            <td class="align-middle text-center" id="dex-modifier">0</td>
        </tr>
        <tr>
            <td class="align-middle text-center">CON<br><small>Constitution</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][constitution]" id="con-score"></td>
            <td class="align-middle text-center" id="con-modifier">0</td>
        </tr>
        <tr>
            <td class="align-middle text-center">INT<br><small>Intelligence</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][intelligence]" id="int-score"></td>
            <td class="align-middle text-center" id="int-modifier">0</td>
        </tr>
        <tr>
            <td class="align-middle text-center">WIS<br><small>Wisdom</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][wisdom]" id="wis-score"></td>
            <td class="align-middle text-center" id="wis-modifier">0</td>
        </tr>
        <tr>
            <td class="align-middle text-center">CHA<br><small>Charisma</small></td>
            <td class="align-middle text-center"><input class="form-control scores" name="stats[abilities][charisma]" id="cha-score"></td>
            <td class="align-middle text-center" id="cha-modifier">0</td>
        </tr>
    </table>
</div>