<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td></td>
                <td class="text-center">Total</td>
                <td></td>
                <td class="text-center">Base</td>
                <td></td>
                <td class="text-center">Armor</td>
                <td></td>
                <td class="text-center">Shield</td>
                <td></td>
                <td class="text-center">DEX</td>
                <td></td>
                <td class="text-center">Size</td>
                <td></td>
                <td class="text-center">Natural</td>
                <td></td>
                <td class="text-center">Deflection</td>
                <td></td>
                <td class="text-center">Misc</td>
            </tr>
            <tr>
                <th class="align-middle">AC</th>
                <td class="align-middle text-center" id="ac">10</td>
                <td class="align-middle text-center">&nbsp;=&nbsp;</td>
                <td class="align-middle text-center">&nbsp;10&nbsp;</td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][armor_bonus]" id="ac_armor"></td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][shield_bonus]" id="ac_shield"></td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle text-center" id="ac_dex">0</td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][size_modifier]" id="ac_size"></td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][natural_armor]" id="ac_natural"></td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][deflection_modifier]" id="ac_deflection"></td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control ac-vals" name="stats[ac][misc_modifier]" id="ac_misc"></td>
            </tr>
        </table>
    </div>
</div>