<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td></td>
                <td class="text-center">Total</td>
                <td></td>
                <td class="text-center">DEX</td>
                <td></td>
                <td class="text-center">Misc</td>
            </tr>
            <tr>
                <th class="align-middle">Initiative</th>
                <td class="align-middle text-center" id="initiative">0</td>
                <td class="align-middle text-center">&nbsp;=&nbsp;</td>
                <td class="align-middle text-center" id="initiative_dex">0</td>
                <td class="align-middle text-center">&nbsp;+&nbsp;</td>
                <td class="align-middle"><input type="number" class="form-control" name="stats[initiative][misc_modifier]" id="initiative_misc"></td>
            </tr>
        </table>
    </div>
</div>