<div class="col-3">
    <table>
        <tr>
            <th colspan="10">Saving Throws</th>
        </tr>
        <tr>
            <td>Name</td>
            <td class="text-center">Total</td>
            <td></td>
            <td class="text-center">Base</td>
            <td></td>
            <td class="text-center">Ability</td>
            <td></td>
            <td class="text-center">Magic</td>
            <td></td>
            <td class="text-center">Misc</td>
        </tr>
        <tr>
            <td class="align-middle">Fortitude</td>
            <td class="align-middle text-center" id="fortitude">0</td>
            <td class="align-middle text-center">&nbsp;=&nbsp;</td>
            <td class="align-middle"><input class="form-control fortitude-vals" name="stats[saving_throws][fortitude][base_save]" id="fortitude_base_save"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle text-center" id="fortitude_ability_modifier">0</td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control fortitude-vals" name="stats[saving_throws][fortitude][magic_modifier]" id="fortitude_magic_modifier"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control fortitude-vals" name="stats[saving_throws][fortitude][misc_modifier]" id="fortitude_misc_modifier"></td>
        </tr>
        <tr>
            <td class="align-middle">Reflex</td>
            <td class="align-middle text-center" id="reflex">0</td>
            <td class="align-middle text-center">=</td>
            <td class="align-middle"><input class="form-control reflex-vals" name="stats[saving_throws][reflex][base_save]" id="reflex_base_save"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle text-center" id="reflex_ability_modifier">0</td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control reflex-vals" name="stats[saving_throws][reflex][magic_modifier]" id="reflex_magic_modifier"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control reflex-vals" name="stats[saving_throws][reflex][misc_modifier]" id="reflex_misc_modifier"></td>
        </tr>
        <tr>
            <td class="align-middle">Will</td>
            <td class="align-middle text-center" id="will">0</td>
            <td class="align-middle text-center">=</td>
            <td class="align-middle"><input class="form-control will-vals" name="stats[saving_throws][will][base_save]" id="will_base_save"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle text-center" id="will_ability_modifier">0</td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control will-vals" name="stats[saving_throws][will][magic_modifier]" id="will_magic_modifier"></td>
            <td class="align-middle text-center">&nbsp;+&nbsp;</td>
            <td class="align-middle"><input class="form-control will-vals" name="stats[saving_throws][will][misc_modifier]" id="will_misc_modifier"></td>
        </tr>
    </table>
</div>