<div class="row">
    {% include '@App/stats/abilities.twig' %}
    <div class="col-7">
        <div class="row">
            <div class="col-2">
                <label for="hp">HP</label>
                <input type="number" class="form-control" name="stats[general][hit_points]" id="hp" placeholder="Type...">
            </div>
            <div class="col-2">
                <label for="damage_reduction">Damage Reduction</label>
                <input type="number" class="form-control" name="stats[general][damage_reduction]" id="damage_reduction" placeholder="Type...">
            </div>
            <div class="col-2">
                <label for="speed">Speed</label>
                <input type="text" class="form-control" name="stats[general][speed]" id="speed" placeholder="Type...">
            </div>
            <div class="col-2">
                <label for="base_attack_bonus">Base Attack Bonus</label>
                <input type="number" class="form-control" name="stats[general][base_attack_bonus]" id="base_attack_bonus" placeholder="Type...">
            </div>
            <div class="col-2">
                <label for="spell_resistance">Spell Resistance</label>
                <input type="number" class="form-control" name="stats[general][spell_resistance]" id="spell_resistance" placeholder="Type...">
            </div>
        </div>
        <br>
        {% include '@App/stats/ac.twig' %}
        {% include '@App/stats/initiative.twig' %}
    </div>
    {% include '@App/stats/saving_throws.twig' %}
</div>