{% extends '@App/base.html.twig' %}

{% block content %}
    <form id="page_form">
        <div class="container-fluid">
            {% include '@App/monster_builder/header.twig' %}
        </div>
    </form>
{% endblock %}