<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" id="add-feat">Add Feat</button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" id="add-special-ability">Add Special Ability</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-2">
        <table class="table-bordered" id="feats"></table>
    </div>
    <div class="col-2">
        <table class="table-bordered" id="special-abilities"></table>
    </div>
</div>